.autocomplete {
  position: relative;
}
.search_result {
  z-index: 999;
  position: absolute;
  width: 100%;
  li {
    cursor: pointer;
    transition: background-color ease-out 1ms;

    &:hover {
      background-color: #6c757d;
      color: #fff;
      cursor: pointer;
    }
  }
}
